.ota{
    margin: auto;
}
.samuray{
    width: 1450px;
    height: 740px;
    background-color: rgb(8, 182, 138);
    margin: auto;

}
.bb{
    width: 1250px;
    height: 640px;
    background-color:white;
    margin: auto;
    margin-top: -690px;
    border-radius: 30px;
}
.ll{
    position: relative;
    top: -20px;
}
.kk{
    position: relative;
    top: -35px;
}
.you{
    margin-left: 145px;
}
.hr{
    width: 130px;
    
}
.tr{
    margin-left: 155px;
    margin-top: 30px;
}
.gf{
    margin-left: 180px;
    margin-top: -19px;
}
hr{
    width: 150px;
    margin-left:140px;
}
.oi{
    margin-left: 145px;
    margin-top: 10px; 
}
.oi p{
    margin-left: 38px;
    margin-top: -18px; 
}
.jhg{
    margin-left: 145px;
    margin-top: 10px; 
}
.jhg p{
    margin-left: 65px;
    margin-top: -18px; 
}
.lol{
    margin-left: 165px;
    margin-top: 50px;
}
.ww{
    margin-left: 550px;
    margin-top: -260px;
}



.tra{
    margin-left: 530px;
    margin-top: 35px;
}
.gfa{
    margin-left: 560px;
    margin-top: -19px;
}
.rew{
    width: 150px;
    margin-left: 510px;
}
.oia{
    margin-left: 520px;
    margin-top: 10px; 
}
.oia p{
    margin-left: 38px;
    margin-top: -18px; 
}
.jhga{
    margin-left: 510px;
    margin-top: 10px; 
}
.jhga p{
    margin-left: 80px;
    margin-top: -18px;
}
.lols{
    margin-top: 50px;
    margin-left: 540px;
}


.wwaa{
    margin-left: 920px;
    margin-top: -260px;
}
.traa{
    margin-left: 950px;
    margin-top: 35px;
}
.gfaa{
    margin-left: 990px;
    margin-top: -19px;
}
.rewas{
    width: 150px;
    margin-left: 930px;
}
.oias{
    margin-left: 900px;
    margin-top: 10px;
}
.oias p{
    margin-left: 100px;
    margin-top: -18px; 
}
.jhgaa{
    margin-left: 950px;
    margin-top: 10px; 
}
.jhgaa p{
    margin-left: 50px;
    margin-top: -18px;
}
.lolsa{
    margin-top: 50px;
    margin-left: 960px;
}




    
  

